{% extends 'base.html.twig' %}

{% block title %}Logiciel{% endblock %}

{% block body %}
    <h1>Logiciel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ logiciel.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ logiciel.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ logiciel.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ logiciel.prix }}</td>
            </tr>
            <tr>
                <th>Imagelogiciel</th>
                <td>{{ logiciel.imagelogiciel }}</td>
            </tr>
            <tr>
                <th>Videologiciel</th>
                <td>{{ logiciel.videologiciel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_logiciel_index') }}">back to list</a>

    <a href="{{ path('app_logiciel_edit', {'id': logiciel.id}) }}">edit</a>

    {{ include('logiciel/_delete_form.html.twig') }}
{% endblock %}
